.intro {
  margin: 0 auto;
  padding-top: 40px;
  max-width: 984px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
}

.intro__title {
  padding-bottom: 40px;
  font-weight: 900;
  font-size: 54px;
  line-height: 1.07;
  color: white;
  max-width: 830px;
}

.intro__text {
  padding-bottom: 10px;
  display: flex;
  justify-content: flex-start;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.41;
  color: white;
  max-width: 738px;
}

.intro__text-author {
  display: flex;
  justify-content: flex-end;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.41;
  color: white;
  max-width: 738px;
}

.intro__text-description {
  text-align: left;
  padding-bottom: 40px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.625;
  color: white;
  max-width: 722px;
}

@media screen and (max-width: 900px) {
  .intro {
    max-width: 720px;
    margin: 0 auto;
    padding-inline: 24px;
  }

  .intro__title {
    max-width: 707px;
    font-size: 45px;
    line-height: 1.08;
    padding: 0;
  }

  .intro__text {
    max-width: 720px;
    padding: 0;
  }

  .intro__text-author {
    max-width: 720px;
    padding: 0;
  }

  .intro__text-description {
    padding: 0;
  }
}

@media screen and (max-width: 600px) {
  .intro {
    max-width: 288px;
    margin: 0 auto;
    padding-inline: 16px;
  }

  .intro__title {
    max-width: 288px;
    font-size: 32px;
    padding: 0 16px;
    line-height: 1.09;
  }

  .intro__text {
    max-width: 288px;
    font-size: 24px;
    line-height: 1.25;
    padding: 0 16px;
  }

  .intro__text-author {
    max-width: 288px;
    padding: 0 16px;
  }

  .intro__text-description {
    max-width: 288px;
    padding: 0 16px;
  }
}
