.places {
  max-width: 984px;
  padding: 0 148px;
  padding-top: 92px;
  color: #ffffff;
}

.places__info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    "title artist"
    "image paragraph"
    "link  paragraph"
    ".     paragraph";
  gap: 40px;
}

.places__title {
  max-width: 460px;
  font-size: 72px;
  font-weight: 900;
  line-height: 1.05;
  align-self: end;
  margin: 0;
  grid-area: title;
}

.places__website {
  max-width: 456px;
  font-weight: 400;
  align-self: end;
  margin: 0;
  grid-area: artist;
}

.places__website-title {
  max-width: 85.17px;
  font-size: 12px;
  line-height: 1.21;
  color: #aaaaaa;
  margin: 0;
  padding-bottom: 8px;
}

.places__website-artist {
  max-width: 329.66px;
  font-size: 18px;
  line-height: 1.22;
  margin: 0;
}

.places__image {
  max-width: 460px;
  width: 100%;
  margin: 0;
  background: #000000;
  box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.5);
  grid-area: image;
}

.places__image:hover {
  box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.5);
  opacity: 50%;
}

.places__paragraphs {
  max-width: 484px;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.63;
  padding-top: 8px;
  align-self: start;
  margin: 0;
  grid-area: paragraph;
}

.places__paragraph {
  margin: 0;
  padding-bottom: 25px;
}

.places__link {
  max-width: 356.08px;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.21;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  padding: 13px 20px;
  border-radius: 4px;
  margin: 0;
  background: linear-gradient(90deg, #0278FE 0%, #003A7B 99.98%);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
  grid-area: link;
}

.places__link:hover {
  background: linear-gradient(
    90deg,
    rgba(2, 120, 254, 0.25) 0%,
    rgba(0, 58, 123, 0.25) 99.98%
  );

  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
}

@media screen and (max-width: 900px) {
  .places {
    max-width: 720px;
    padding: 0 24px;
    padding-top: 88px;
    align-self: center;
  }

  .places__info {
    gap: 28px;
  }

  .places__title {
    max-width: 340px;
    font-size: 42px;
    line-height: 1.095;
  }

  .places__website {
    max-width: 352px;
  }

  .places__website-title {
    max-width: 67px;
  }

  .places__website-artist {
    max-width: 352px;
  }

  .places__image {
    max-width: 340px;
  }

  .places__paragraphs {
    max-width: 352px;
    font-size: 16px;
  }

  .places__link {
    max-width: 355px;
  }
}

@media screen and (max-width: 600px) {
  .places {
    max-width: 320px;
    padding-top: 38px;
  }

  .places__info {
    grid-template-columns: 1fr;
    grid-template-areas:
      "title "
      "artist"
      "image"
      "paragraph"
      "link";
    grid-template-columns: unset;
    gap: 30px;
  }

  .places__title {
    max-width: 288px;
    font-size: 32px;
    line-height: 1.093;
  }

  .places__website {
    max-width: 288px;
  }

  .places__website-title {
    max-width: 288px;
  }

  .places__website-artist {
    max-width: 288px;
  }

  .places__image {
    max-width: 320px;
  }

  .places__paragraphs {
    max-width: 288px;
  }

  .places__link {
    max-width: 288px;
    font-size: 14px;
    padding: 15px 22px;
    margin-bottom: 20px;
  }
}
